#show-chores {
  display: none;
}

.example {
  background-color: grey;
}

.new {
  background-color: beige;
}

.strike-out {
  text-decoration: line-through;
  color: red;
}

.delete-me {
  margin-left: 10px;
}

li {
  padding-top: 10px;
}
